# Introduction

# Data exploration

To get an understanding how well the machine learning models could realistically classify the data, lets do some basic data exploration.

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

train_true = pd.read_csv('../data/train_true_bow.csv')
train_fake = pd.read_csv('../data/train_fake_bow.csv')

train_fake

,0,0.1,0.2,0.3,0.4,0.5,1,0.6,0.7,0.8,...,0.28,1.2,1.3,0.29,0.30,0.31,0.32,0.33,0.34,1.4
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11809,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
11810,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
11811,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
11812,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
11813,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0

# Results

# Conclusions